.container{
    background-color: rgb(26, 26, 26);
    overflow: hidden;
}

.ImageSlideDialog .swiper-slide {
    text-align: center !important;
}

.webImage {
    width: 90%;
    margin: 30px 0px 30px 0px;
    padding: 0px 5% 0px 5%;
}


.mobileImage {
    max-height: 600px;
    margin: 30px 0px 30px 0px;
    padding: 0px 5% 0px 5%;
    text-align: center;
}

.swiper-slide {
    text-align: center;
}

.descrition {
    padding: 10px;
    background-color: rgb(206, 203, 195);
    border-radius: 10px;
    text-align: center;
    margin: 10px 5% 0px 5%;
    font-weight: bold;
}

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    // background-color: rgb(56, 56, 56);
}

@media all and (max-width: 1000px) {
    .webImage {
    }
    
    
    .mobileImage {
        max-height: 400px;
    }
}

