.ImageSlideDialog .swiper-slide{
    text-align: center;
}
.webImage{
    width: 90%;
    margin: 30px 0px 30px 0px;
    padding: 0px 5% 0px 5%;
}


.mobileImage{
    max-height: 700px;
    margin: 30px 0px 30px 0px;
    padding: 0px 5% 0px 5%;
    text-align: center;
}

.swiper-slide{
    text-align: center;
}