.Career {
    background-color: rgb(238, 243, 255);
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Career>.title {
    height: max-content;
    font-weight: bold;
    font-size: 24px;
    color: rgb(73, 73, 73);
    text-align: left;
    padding-bottom: 20px;
}

.Career .subTitle {
    height: 10%;
    font-weight: bold;
    font-size: 16px;
    color: rgb(100, 100, 100);
    text-align: left !important;
    text-align: center;
}

.Career>.skill {
    display: flex;
    height: 45%;
    width: 100%;
    margin-bottom: 1%;
}

.Career>.skill>.layout {
    background-color: white;
    box-shadow: 0px 0px 1.5px rgb(37, 37, 37);
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

/* .Career>.skill>.layout .recharts-surface {
    height: 100% !important;
    width: 100% !important;
} */


.Career>.skill>.ability {
    width: 30%;
    margin: 0px 30px 0px 0px;
}

.Career>.skill>.language {
    width: 70%;
}

.Career>.project {
    width: 100% !important;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.Career>.project>.item {
    background-color: white;
    height: 100%;
    width: 32%;
    box-shadow: 0px 0px 1.5px rgb(37, 37, 37);
}