.container {
    display: flex !important;
    cursor: pointer;
}

.col1 {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 80%;
    padding: 5%;
}

.col1 img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.col2 {
    width: 40%;
    height: 80%;
    padding: 5% 5% 5% 0%;
    display: inline-block;
}

.item {
    width: 100%;
    // white-space: pre;
    text-align: left;
}

.title {
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(100, 100, 100);
    text-align: center !important;
}

.devDate {
    font-family: 'Courier New', Courier, monospace;
    text-align: center !important;
}

.company {
    color: rgb(100, 100, 100);
    font-size: 14px;

    // height: 10%;
    // background-color: aqua;
}

.descript {
    display: flex;
    font-size: 15px;
    color: rgb(100, 100, 100);
    text-overflow: initial;
    padding-bottom: 10px;
}

.skill {
    // height: 10%;
}